@media (min-width: 760px) {
  section.hero {
    background: url("images/hero.png") center/cover no-repeat;
  }

  .cont-hero-button button:hover {
    background-color: var(--accent-beige);
    translate: 0px -2px;
  }

  .cont-hero-button button:active {
    background-color: var(--accent-gray);
    translate: 0px 2px;
  }
}

/* Disable fixed background on narrow/touch devices (better performance
   and compatibility). */
@media (max-width: 768px) {
  body {
    background-attachment: scroll;
    background-position: center top;
  }
  nav {
    align-items: center;
    justify-content: center;
    gap: 5rem;
  }
}
